h1{
    color:rgba(243, 198, 198, 0.664);
    font-size: 70px;
    text-align: center;
    background-color: rgb(206, 126, 94);
    font-style: bold;
 }

 img{
    width: 500px;
    height: 300px;
    align-items: center;
    justify-content: center;
    margin-left: 680px;
 }
